<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACEios3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>236CF8FC1E32BD19005DD95A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236CF9121E32BD1A005DD95A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236CF91D1E32BD1A005DD95A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
